body {
    background-color: black;
    font-family: Arial;
    color: white;
  }

h1 {
    color: grey;
    font-family: verdana;
    text-align: left;
  }

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    justify-content: center;
    align-items:center;
  }

.space {
     margin-left: 50px;
}
